body {
    font-family: "fira code", Arial, Helvetica, sans-serif;
    background-color:rgb(172, 104, 137); 
    color: #F6F6F6;
}




 #logo {
    color: #fff;
    font-family:"press start 2P",Arial, Helvetica, sans-serif; 
    font-size: 30px;
    text-shadow: 5px  5px 0px black; 
    display: inline-flex;
    align-self: center;
       
 }






.box { 
    display: flex;
    flex-direction: column; 
    background-image: url("/assets/img/foto-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
   
}





.title-name{
    font-family:"press start 2P",Arial, Helvetica, sans-serif; 
    color: #F25A70;
    display: inline-flex;
    font-size: 35px;
    text-shadow: 5px  5px 0px black; 
    margin-bottom: 15px;
 }

.banner-buttons{
   margin: 50px  300px; 
   align-items: center;
}

.banner-slogan{
    font-family: "fira code", Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    align-content: center;
   
}

strong {
    color: #F25A70
}