body {
    background-color:rgb(172, 104, 137); 
    color: #F6F6F6;
}

strong {
    color:#22D4FD;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7C5E99;
    border-bottom: 10px  solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px  20px;
 }

 h1 {
    font-family:"press start 2P",Arial, Helvetica, sans-serif; 
    display: inline-flex;
    font-size: 30px;
    text-shadow: 5px  5px 0px black; 
 }

nav{
    text-align: right;
}


a {
    display: inline-flex;
    align-items: center;
    Color:#fff;
    font-size: 20px;
    font-family: "fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}



a::before{
    content:"";
    background-color:#F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


.button-download {
    display: inline-block; /** por padrão css deixa os textos  como display inline, por isso mudamos pro block   **/
    background-color: #F25A70;
    padding:18px 20px;
    box-shadow: 5px  5px 0px black;     /** os numeros indicam: eixo X, eixo y, blur, cor     **/
    margin-right: 0px;
    transition: transform 200ms linear;
}

.button-download:hover{
    background-color: #22D4FD;
    font-weight: bold;
    transform: scale(1.06);
    color:#000;
}

.banner{ 
    background-image: url ("./assets/img/foto-banner.png");
}

.banner-profissao{
    display: inline-block; /** por padrão css deixa os textos  como display inline, por isso mudamos pro block   **/
    background-color: #363636;
    padding:40px 50px;
    box-shadow: 5px  5px 0px black;     /** os numeros indicam: eixo X, eixo y, blur, cor     **/
    margin-right: 0px;
    transition: transform 200ms linear;
    font-family:"press start 2P",Arial, Helvetica, sans-serif; 
}

.banner-profissao-nome{
    color: #F25A70;
    font-size: 40px;
    box-shadow: 5px  5px 0px black; 
}

.button-linkedIn{
    display: inline-block; /** por padrão css deixa os textos  como display inline, por isso mudamos pro block   **/
    background-color: #F25A70;
    padding:18px 20px;
    box-shadow: 5px  5px 0px black;     /** os numeros indicam: eixo X, eixo y, blur, cor     **/
    margin-right: 0px;
    transition: transform 200ms linear;
}

.button-gitHub{
    display: inline-block; /** por padrão css deixa os textos  como display inline, por isso mudamos pro block   **/
    background-color: #F25A70;
    padding:18px 20px;
    box-shadow: 5px  5px 0px black;     /** os numeros indicam: eixo X, eixo y, blur, cor     **/
    margin-right: 0px;
    transition: transform 200ms linear;
}

.foto-banner{
    display: inline-block;
    width: 100%;
    
}