.banner { 
    display: flex;
    flex-direction: column; 
<<<<<<< HEAD
    background-image: url("./assets/img/photo-banner.png");
=======
    background-image: url("assets/img/photo-banner.png");
>>>>>>> bfe228ae0315fcd4933f14d045cb409bafb17a0a
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px ;
    border-bottom: 10px solid #000;
    justify-content: space-around;
   
}
