.banner { 
    display: flex;
    flex-direction: column; 
    background-image: url("assets/img/photo-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px ;
    border-bottom: 10px solid #000;
    justify-content: space-around;
   
}
